<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtl9GdXn0MqF3Cjk_EvNrfUlPv9ZfvXoo</string>
	<key>GCM_SENDER_ID</key>
	<string>299793825184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.togosv01</string>
	<key>PROJECT_ID</key>
	<string>torogo-d5d82</string>
	<key>STORAGE_BUCKET</key>
	<string>torogo-d5d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299793825184:ios:7d6f6d7dc8a73a33a8b8c5</string>
</dict>
</plist>